In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
#getting url
url='https://www1.salary.com/ALPHABET-INC-Executive-Salaries.html'
page=requests.get(url)

#getting all the tables
doc=lh.fromstring(page.content)
tr_elements=doc.xpath('//tr')

In [3]:
#seeing length of each row in the website
[len(T) for T in tr_elements[:]]

[1, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [4]:
col=[]
i=0

#seeing the content of a specified row
for t in tr_elements[13]:
    i+=1
    name=t.text_content()
    print(i,name)
    col.append((name, []))

1 CEO Name
2 CEO Pay
3 Median Employee Pay
4 CEO Pay Ratio

In [5]:
tcol=[]
i=0

#seeing the content of a specified row
for t in tr_elements[14]:
    i+=1
    name=t.text_content()
    print(i,name)
    tcol.append((name, []))
tcol

1

                                Sundar Pichai

2
                                CEO Pay
                                $280,621,552

3
                                Median Employee Pay
                                $258,708

4
                                CEO Pay Ratio
                                1085:1

[('\r\n\r\n                                Sundar Pichai\r\n                            ',
  []),
 ('\r\n                                CEO Pay\r\n                                $280,621,552\r\n                            ',
  []),
 ('\r\n                                Median Employee Pay\r\n                                $258,708\r\n                            ',
  []),
 ('\r\n                                CEO Pay Ratio\r\n                                1085:1\r\n                            ',
  [])]

In [6]:
col

[('CEO Name', []),
 ('CEO Pay', []),
 ('Median Employee Pay', []),
 ('CEO Pay Ratio', [])]

In [7]:
#for j in range(15,len(tr_elements)):
    #T is our j'th row
T=tr_elements[14]

#If row is not of a certain size, the //tr data is not from our table 
if len(T)!=2:
    break

#i is the index of our column
i=0

#Iterate through each element of the row
for t in T.iterchildren():
    data=t.text_content() 
    data = data.__str__()
    data = data.replace(r'$', '')
    data = data.replace(r',', '')
    data = data.strip()
    data = data.replace(r'CEO Pay', '')
    data = data.replace(r'Median Employee Pay', '')
    data = data.replace(r'CEO Pay Ratio', '')
    data = data.replace(r'Ratio', '')
    data = data.strip()
    #Check if row is empty
    if i>0:
    #Convert any numerical value to integers
        try:
            data=int(data)
        except:
            pass
    #Append the data to the empty list of the i'th column
    col[i][1].append(data)
    #Increment i for the next column
    i+=1

SyntaxError: 'break' outside loop (<ipython-input-7-ab4cbc71d861>, line 10)

In [ ]:
[len(C) for (title,C) in col]

In [ ]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [ ]:
df

In [ ]:
df.at[0, 'CEO Pay'] == 280621552

In [ ]:
df.at[0, 'CEO Name'] == 'Sundar Pichai'

In [ ]:
table_Name = []
for t in tr_elements[13]:
    if (len(table_Name) <= 4):
        name = t.text_content()
        name = name.__str__()
        table_Name.append(name)
        print(table_Name)
    else:
        break
print(table_Name)
print(table_Name[0])

In [ ]:
if (table_Name[0] == 'CEO Name' and table_Name[1] == 'CEO Pay' and table_Name[2] == 'Median Employee Pay' and table_Name[3] == 'CEO Pay Ratio'):
    print(True)
else:
    print(False)