In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
#ratios go back to 2017
#best buy only went back to 
#getting url
url='https://www.salary.com/tools/executive-compensation-calculator/walmart-inc-executive-salaries?year=2020'
page=requests.get(url)

#getting all the tables
doc=lh.fromstring(page.content)
tr_elements=doc.xpath('//tr')

In [3]:
#seeing length of each row in the website
[len(T) for T in tr_elements[:]]
#I can probably use this to skip sites that don't have 4 columns

[4, 4, 2, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1]

In [4]:
tcol=[]
i=0

#seeing the content of a specified row this is for testing purposes only
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print(i,name)
    tcol.append((name, []))
tcol

1 CEO Name
2 CEO Pay
3 Median Employee Pay
4 CEO Pay Ratio

[('CEO Name', []),
 ('CEO Pay', []),
 ('Median Employee Pay', []),
 ('CEO Pay Ratio', [])]

In [5]:
#Makes a list of to make the graph later on
col=[('CEO Name', []), ('CEO Pay', []), ('Median Employee Pay', []), ('CEO Pay Ratio', [])]
col

[('CEO Name', []),
 ('CEO Pay', []),
 ('Median Employee Pay', []),
 ('CEO Pay Ratio', [])]

In [6]:
#this will find the table that has the relevant info for the CEO,
#and put the correct info into col
for j in range(0,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]

    #Only check rows of size 4 (with CEO Name, CEO Pay, Median Employee Pay,
    #and CEO Pay Ratio)
    if len(T)==4:
        #checks if the current row has the 4 maagic words
        table_Name = ['','','','']
        i=0
        for t in T:
            name = t.text_content()
            name = name.__str__()
            table_Name[i]=name
            i+=1
        
        #if it does, I'll take the data from the row right below it
        if (table_Name[0] == 'CEO Name' and table_Name[1] == 'CEO Pay' and table_Name[2] == 'Median Employee Pay' and table_Name[3] == 'CEO Pay Ratio'):
            T=tr_elements[j+1]
            #i is the index of our column
            i=0

            #Iterate through each element of the row
            for t in T.iterchildren():
                #this part if for cleaning the cell contents
                data=t.text_content() 
                data = data.__str__()
                data = data.replace(r'$', '')
                data = data.replace(r',', '')
                data = data.strip()
                data = data.replace(r'CEO Pay', '')
                data = data.replace(r'Median Employee Pay', '')
                data = data.replace(r'CEO Pay Ratio', '')
                data = data.replace(r'Ratio', '')
                data = data.replace(r':1', '')
                data = data.strip()
                #Check if row is empty
                if i>0:
                #Convert any numerical value to integers
                    try:
                        data=int(data)
                    except:
                        pass
                #Append the data to col
                col[i][1].append(data)
                #Increment i for the next column
                i+=1
            break

In [7]:
#this is also for testing purposes, will be [1, 1, 1, 1] is successful
[len(C) for (title,C) in col]

[1, 1, 1, 1]

In [8]:
#making the dataframe
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [9]:
#displaying the dataframe
df

              CEO Name   CEO Pay  Median Employee Pay  CEO Pay Ratio
0  C. Douglas McMillon  22105350                22484            983