In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
url='https://www1.salary.com/ALPHABET-INC-Executive-Salaries.html'

page = requests.get(url)

doc = lh.fromstring(page.content)

tr_elements = doc.xpath('//tr')

In [3]:
[len(T) for T in tr_elements[:]]

[1, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [4]:
[T for T in tr_elements[:12]]

[<Element tr at 0x1ea2d933688>,
 <Element tr at 0x1ea2d933638>,
 <Element tr at 0x1ea2fef84a8>,
 <Element tr at 0x1ea2fef84f8>,
 <Element tr at 0x1ea2fef8cc8>,
 <Element tr at 0x1ea2fef8ef8>,
 <Element tr at 0x1ea2ff221d8>,
 <Element tr at 0x1ea2ff222c8>,
 <Element tr at 0x1ea2ff22368>,
 <Element tr at 0x1ea2ff223b8>,
 <Element tr at 0x1ea2ff22408>,
 <Element tr at 0x1ea2ff22458>]

In [5]:
tr_elements = doc.xpath('//tr')

In [6]:
col=[]
i=0

for t in tr_elements[13]:
    i+=1
    name=t.text_content()
    print(i,name)
    col.append((name, []))

1 CEO Name
2 CEO Pay
3 Median Employee Pay
4 CEO Pay Ratio

In [7]:
col

[('CEO Name', []),
 ('CEO Pay', []),
 ('Median Employee Pay', []),
 ('CEO Pay Ratio', [])]

In [8]:
#for j in range(15,len(tr_elements)):
    #T is our j'th row
T=tr_elements[14]

#If row is not of size 10, the //tr data is not from our table 
#if len(T)!=2:
#    break

#i is the index of our column
i=0

#Iterate through each element of the row
for t in T.iterchildren():
    data=t.text_content() 
    #Check if row is empty
    if i>0:
    #Convert any numerical value to integers
        try:
            data=int(data)
        except:
            pass
    #Append the data to the empty list of the i'th column
    col[i][1].append(data)
    #Increment i for the next column
    i+=1

In [9]:
[len(C) for (title,C) in col]

[1, 1, 1, 1]

In [10]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [11]:
df

,CEO Name,CEO Pay,Median Employee Pay,CEO Pay Ratio
0,\r\n\r\n Sundar...,\r\n CEO Pay\r\...,\r\n Median Emp...,\r\n CEO Pay Ra...

In [15]:
print(df.at[0, 'CEO Name'])

                                Sundar Pichai