In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
url='http://pokemondb.net/pokedex/all'

page = requests.get(url)

doc = lh.fromstring(page.content)

tr_elements = doc.xpath('//tr')

In [3]:
[len(T) for T in tr_elements[:12]]

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [4]:
[T for T in tr_elements[:12]]

[<Element tr at 0x19e64b82638>,
 <Element tr at 0x19e64a10278>,
 <Element tr at 0x19e6716a9a8>,
 <Element tr at 0x19e6716ac28>,
 <Element tr at 0x19e6716ac78>,
 <Element tr at 0x19e6716acc8>,
 <Element tr at 0x19e6716ad18>,
 <Element tr at 0x19e6716ad68>,
 <Element tr at 0x19e6716aea8>,
 <Element tr at 0x19e6716af48>,
 <Element tr at 0x19e6716af98>,
 <Element tr at 0x19e6719b048>]

In [5]:
tr_elements = doc.xpath('//tr')

In [6]:
col=[]
i=0

for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print(i,name)
    col.append((name,[]))

1 #
2 Name
3 Type
4 Total
5 HP
6 Attack
7 Defense
8 Sp. Atk
9 Sp. Def
10 Speed

In [7]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=10:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [8]:
[len(C) for (title,C) in col]

[1045, 1045, 1045, 1045, 1045, 1045, 1045, 1045, 1045, 1045]

In [9]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [10]:
df.head()

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,001,Bulbasaur,Grass Poison,318,45,49,49,65,65,45
1,002,Ivysaur,Grass Poison,405,60,62,63,80,80,60
2,003,Venusaur,Grass Poison,525,80,82,83,100,100,80
3,003,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80
4,004,Charmander,Fire,309,39,52,43,60,50,65