In [1]:
import requests
from requests.exceptions import ConnectionError
import lxml.html as lh
import pandas as pd
import bs4
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup

In [2]:
#getting url
url='https://www.salary.com/tools/executive-compensation-calculator/walmart-inc-executive-salaries?year=2020'
page=requests.get(url)

#getting all the tables
doc=lh.fromstring(page.content)
tr_elements=doc.xpath('//tr')

In [3]:
#making the csv to write into
filename = "testratio.csv"
f = open(filename, "w")

#writing in the header of the csv
headers = "CEO_Name, CEO_Pay, Median_Employee_Pay, CEO_Pay_Ratio\n"
f.write(headers)

54

In [4]:
#seeing length of each row in the website
[len(T) for T in tr_elements[:]]
#I can probably use this to skip sites that don't have 4 columns

[1, 1]

In [5]:
tcol=[]
i=0

#seeing the content of a specified row this is for testing purposes only
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print(i,name)
    tcol.append((name, []))
tcol

1


<!-- Web.Config Configuration File -->

<configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>
</configuration>

[('\r\n                      \r\n\r\n<!-- Web.Config Configuration File -->\r\n\r\n<configuration>\r\n    <system.web>\r\n        <customErrors mode="Off"/>\r\n    </system.web>\r\n</configuration>\r\n\r\n                  ',
  [])]

In [6]:
#write this into the csv
write_This = ""

#Makes a list of to make the graph later on
col=[('CEO Name', []), ('CEO Pay', []), ('Median Employee Pay', []), ('CEO Pay Ratio', [])]
col

[('CEO Name', []),
 ('CEO Pay', []),
 ('Median Employee Pay', []),
 ('CEO Pay Ratio', [])]

In [7]:
#this will find the table that has the relevant info for the CEO,
#and put the correct info into col
for j in range(0,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]

    #Only check rows of size 4 (with CEO Name, CEO Pay, Median Employee Pay,
    #and CEO Pay Ratio)
    if len(T)==4:
        #checks if the current row has the 4 maagic words
        table_Name = ['','','','']
        i=0
        for t in T:
            name = t.text_content()
            name = name.__str__()
            table_Name[i]=name
            i+=1
        
        #if it does, I'll take the data from the row right below it
        if (table_Name[0] == 'CEO Name' and table_Name[1] == 'CEO Pay' and table_Name[2] == 'Median Employee Pay' and table_Name[3] == 'CEO Pay Ratio'):
            T=tr_elements[j+1]
            #i is the index of our column
            i=0
            
            #this is a temporary storage of the content of each line of the csv
            content = []
            
            #Iterate through each element of the row
            for t in T.iterchildren():
                #this part if for cleaning the cell contents
                data=t.text_content() #gets the content of cell
                data = data.__str__() #turns content to string
                data = data.replace(r'$', '') #takes out dollar sign for number conversion
                data = data.replace(r',', '') #takes out comma for number conversion
                data = data.strip() #clears our \r and \n and spaces, cleans up the content string
                data = data.replace(r'CEO Pay', '') #cleans up the content string
                data = data.replace(r'Median Employee Pay', '') #cleans up the content string
                data = data.replace(r'CEO Pay Ratio', '') #cleans up the content string
                data = data.replace(r'Ratio', '') #cleans up the content string
                data = data.replace(r':1', '') #takes out :1 in the ratio for number conversion
                data = data.strip() #clears our \r and \n and spaces again to finish cleaning up
                
                content.append(data)
                
                #Check if row is empty
                if i>0:
                #Convert any numerical value to integers
                    try:
                        data=int(data)
                    except:
                        pass
                #Append the data to col
                col[i][1].append(data)
                #Increment i for the next column
                i+=1
            write_This = content[0]
            for j in range(1, len(content)):
                write_This += ", " + content[j]
            write_This += "\n"
            f.write(write_This)
            break

In [8]:
write_This

''

In [9]:
f.close()

In [10]:
#making the dataframe
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [11]:
#displaying the dataframe
df

Empty DataFrame
Columns: [CEO Name, CEO Pay, Median Employee Pay, CEO Pay Ratio]
Index: []